.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.container::after {
    content: "";
    flex: auto;
}

.item {
    min-width: 16.6%;
    padding: .35rem;
    box-sizing: border-box;
}