<img [src]="url">

<!-- 

<mat-card class="movie-card">

    <mat-card-header>
      <mat-card-title class="movie-title">Harry Potter e a Pedra Filosofal</mat-card-title>
    </mat-card-header>

    <div class="poster">
      <img mat-card-image 
        [src]="url" 
        alt="Photo of a Shiba Inu"
      >
      <div class="text-wrapper">
        <h1 id="movie-review">5/5</h1>
      </div>
    </div>

    <mat-card-content>
      <p class="release-date">
        Data Lançamento
      </p>
    </mat-card-content>
</mat-card>

-->
