.movie-card {
    max-width: 20em;
    background-color: #212121;
}

.movie-title, .release-date{
  text-align: center;
}

.poster {
  display: flex;
  justify-content: center;
  height: auto;
}

.poster img{
  display: block;
  margin-top: 0.7em;
  max-height: 55vh auto;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.poster img:hover {
  opacity: 30%;

}

#movie-review{
  display: none;
}
