<div class="container-search">
    <div class="img-wrapper">
        <h1>Bem-vindo</h1>
        <h2>Milhões de Filmes, Séries e Pessoas para Descobrir. Explore já.</h2>
        <div class="search-bar">

            <div id="namer">
                <div id="namer-input">
                 <input #searchField
                    type="text" 
                    name="namername" 
                    placeholder="Procurando por qual filme?"
                    required
                    (keyup.enter)="searchMovie(searchField.value)"
                    (blur)="searchMovie(searchField.value); searchField.value='' "
                >
            </div>
        </div>
        <a mat-raised-button 
        class="search-button"
        color="basic" 
        routerLink="/busca"
        (click)="searchMovie(searchField.value)"
        >
            Buscar
        </a>              
    </div>
</div>    
    <app-search-item class="container-item" 
        *ngFor="let searchedMovie of searchedMovies" 
        [searchMovie]="searchedMovie" 
        style="color:white"
    >
    </app-search-item>
</div>    
