<div class="container-search">
    <div class="img-wrapper">
        <h1>Bem-vindo!</h1>
        <h2>Uma aplicação simples em ANGULAR, usando as APIs da tmdb.org</h2>
        <div class="search-bar">
            <input #searchField
                type="text" 
                placeholder="digite o nome do filme"
                (keyup.enter)="searchMovie(searchField.value)"
                (blur)="searchMovie(searchField.value); searchField.value='' "
            >
            <a mat-raised-button 
                color="basic" 
                routerLink="/busca"
                (click)="searchMovie(searchField.value)"
            >
                Buscar
            </a>
        </div>
    </div>    
    <app-search-item class="container-item" 
        *ngFor="let searchedMovie of searchedMovies" 
        [searchMovie]="searchedMovie" 
        style="color:white"
    >
    </app-search-item>
</div>    
