@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');
* {
 box-sizing: border-box;
}

.container-search {
    display: flex;
    flex-flow: column wrap;
    max-width: 100vw;
}

.img-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: url('https://i.imgur.com/oRDauZ1.jpg')
        no-repeat
        fixed
    ;
    background-size: cover;
    opacity: .94;
    width: 100%;
    height: 40vh;
    margin-bottom: 3.5rem;
}

.img-wrapper h1, h2 {
    color: #fff;
}

.img-wrapper h1 {
    font-size: 2.5em;
    font-weight: bolder;
}

.img-wrapper h2 {
    font-size: 1.6em;
}

.search-bar {
    display: flex;
}

.search-button {
    display: flex;
    align-items: center;
    margin-left: -0.6em;
    background-color: #14B8E1;
}


.example-form {
    min-width: 13rem;
    max-width: 36rem;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

.container-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

/* .container-item::after {
    content: "";
    flex: auto;
} */

.item {
    padding: .5rem;
}

/* INPUT */

#namer {
    background: #f3f3f3;
    border-radius: 1em;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    position: relative;
    max-width: 400px;
    margin: auto 0;
}

#namer input {
 border: 0;
 border-radius: 1em;
 width: 100%;
 font-size: 1.2em;
 height: 2.4em;
 text-align: center;
 padding: 0.6em;
 background: transparent;
    color: rgb(48, 48, 48);
}

#namer input:focus {
 outline: 0;
    color: rgb(48, 48, 48);
}

#namer input::placeholder {
 color: rgb(173, 175, 177);
}

#namer-input.modern input {
 font-family: 'Raleway', sans-serif;
 text-transform: lowercase;
 font-weight: 300;
 letter-spacing: 10px;
}

#namer-input.cheeky input {
 font-family: 'Permanent Marker', cursive;
 font-size: 40px;
}
