.container-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    padding-bottom: 1em;
}

.img-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: url('https://images2.alphacoders.com/106/thumb-1920-1065219.jpg')
        no-repeat
        fixed
    ;
    background-size: cover;
    opacity: .94;
    width: 100%;
    height: 40vh;
}

.img-wrapper h1, h2 {
    color: #f3f3f3;
}

.search-bar {
    display: flex;
}

.search-bar input {
    max-width: 30rem;
    width: 30rem;
    font-size: 1em;
    border-radius: 0.3rem;
    color: #212121;
}


.example-form {
    min-width: 13rem;
    max-width: 36rem;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

.container-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 4em 0 1em 0;
}

/* .container-item::after {
    content: "";
    flex: auto;
} */

.item {
    padding: .5rem;
}